<style>
	body {
		background: <%= @color %>;
	}
</style>

<h1>Here's the about page.</h1>
<p>About stuff...</p>
<p>The page is now <%= @color %>.</p>
<p>My shoe size is <%= @shoe_size %>.</p>
<% if @shoe_size.to_i > 12 %>
	<h3>HUGE FEET!!!!</h3>
<% end %>

<%= link_to "Blue", {controller: "welcome", action: "about", color: "Blue"}, class: "btn btn-primary" %>
<%= link_to "Red", {controller: "welcome", action: "about", color: "Red"}, class: "btn btn-danger" %>