<h1>Welcome</h1>
<p>This is a web page.</p>
<p></p>

<ul>
<% @wishlist.each do | country | %>
	<li><%= country %></li>
<% end %>
</ul>

<%= image_tag "ireland.jpeg", alt: "Ireland", width: "300"%>
<%= image_tag "israel.jpg", alt: "Israel",  width: "300"%>
<%= image_tag "new-zealand.jpg", alt: "New Zealand",  width: "300"%>


<% @images.each do | image | %>
	<%= image_tag image, class: "img-responsive" , height: "230" %>
<% end %>